/* GENERAL */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-color: sandybrown;
}

/* HEADER */

.app-header img{
    max-width: 300px;
}

/* TODOLIST */

.todo {
    background-color: rgba(255, 255, 255, .5);
    border: 1px solid black;
    border-radius: 15px;
}

.todo .text {
    cursor: pointer;
}

.check-complete {
    width: 1rem;
    height: 1rem;
    border: 1px solid black;
}

.done > .check-complete {
    background-color: green;
}

.done.text {
    text-decoration: line-through;
}

.cta .fa-trash {
    cursor: pointer;
}







